NODE_ENV=development
PORT=5000
CLIENT_ORIGIN=http://localhost:3000
DATABASE_URL="postgresql://neondb_owner:npg_rBkQcj7v4Wlf@ep-blue-meadow-a46k9kue-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password_or_app_password
OWNER_EMAIL=owner@asterhomes.com
